@font-face {
	font-family: OpenSans-Light;
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}

html, body{
	padding: 0px;
	margin: 0px;
	color: rgb(57, 66, 85) ;
	/*overflow-x: hidden;*/
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, p, a, li, ul{
	font-family: OpenSans-Light, Segoe UI Light, Roboto, Helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	font-weight: 400;
}
h1, h2 {
	font-family: Montserrat;
}
strong {
	font-family: Montserrat;
}
.tile-header {
	font-family: OpenSans-Light;
}
h1 {
	font-size: 48px;
}
a:hover {
	cursor: pointer;
}
a.thick  {
	font-family: OpenSans-Light, Segoe UI, Helvetica, sans-serif;
}
p {
	font-family: OpenSans-Light, Segoe UI, Helvetica, sans-serif;
	letter-spacing: 1px;
}
h1 {
	letter-spacing: 2px;
}
img {
	max-width: 100%;
}
body {
	background-color: #e6e6e6;
}
header {
	position: fixed;
	/*min-width: 400px;*/
	z-index: 999;
	top: 0;
	width: 100%;
	background-color: #fff;
	text-transform: uppercase;
	margin:0;
	padding: 0;
	border-bottom: 2px solid rgb(57, 66, 85);
	transition: all 0.25s ease-in-out;
}
.nav-wrapper {
	margin: 0 auto;
	padding: 0px 1em 0px 1em;
	/*min-height: 40px;*/
	max-width: 1000px;
	letter-spacing: 1px;
	height: 100%;
}
.nav {
	height: 100%;
}
.vincent-icon {
	margin: 0 auto;
	width:140px;
	height:140px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/vincent2.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 0 0 5px #fff;
	-webkit-box-shadow: 0 0 0 5px #fff;
	-moz-box-shadow: 0 0 0 5px #fff;
}
@media screen and (min-width: 1400px) {
	.vincent-icon {
		width: 180px;
		height: 180px
	}
}
.vincent-icon-small {
	margin-top: 40px;
	width:90px;
	height:90px;
}
.left {
	margin: auto;
	margin-top: 15px;
	min-width:20%;
	float: left;
	text-align: center;
}
.inline {
	display: inline-block;
	padding: 0px 20px 0px 10px;
	max-width: 80%;
	vertical-align: top;
}
@media all and (max-width: 980px) {
    .inline {
        max-width: 75%;
    }
}
@media all and (max-width: 850px) {
    .inline {
        max-width: 70%;
    }
}
@media all and (max-width: 650px) {
    .inline {
        /*max-width: 60%;*/
        max-width: none;
        width: 100%;
        text-align: left;
    }
    .project-header {
    	/*margin: auto;*/
    	text-align: center;
    }
}

.page-projects, .page-skills {
	max-width: 1000px;
	margin: auto;
}
.projects {
	margin-right: -40px;
}
.project-img {
	width: 100%;
}
.project-header {
	min-height: 150px;
	margin-bottom: 25px;
}
.project-body img {
	/*border: 2px solid;*/
}
ul {
	padding-left: 0;
	/*margin: 0;*/
	list-style-type: none;
}
li {
	list-style-type: none;
	display: inline-block;
}
li.li-nav {
	font-size: 18px;
	line-height: 28px;
	/*padding: 1px;*/
	text-align: center;
	height:  100%;
}
li.li-nav:hover {
	border-bottom: 2px solid;
	margin-bottom: -2px;
}
li.float-left b {
	float: left;
	letter-spacing: 2px;
	font-size: 18px;
}
li.float-right {
	float: right;
	font-size: 14px;
	margin-left: 20px;
	letter-spacing: 1.5px;
}
a {
	color: inherit;
	text-decoration: none;
}
.1p-height {
	min-height: 100vh;
}
.page {
	/*min-height: 100vh;*/
	/*background-color: #e6e6e6;*/
	/*padding-top: 100px;*/
	/*padding-bottom: 50px;*/
	padding-top: 50px;
	text-transform: none;
	width: 100%;
	margin: auto;
}
@media screen and (max-width: 800px) {
	.page {
		padding-top: 20px;
	}
}
.page-project {
	max-width: 1000px;
	margin: auto;
}
.page-intro-wrapper {
	width: 100%;
	background-color: #e6e6e6;
}
.page-header {
	font-size: 42px;
}
.main {
	text-align: center;
	width: 80%;
	letter-spacing: 1px;
	z-index:15;
	margin: auto;
}
.main-wrapper {
	width: 100%;
	padding-top: 120px;
	padding-bottom: 80px;
	/* originally 57, 66, 85 */
	background-color: rgb(57, 66, 85);
	/*background: linear-gradient(rgba(54, 63, 81, 0.95), rgba(54, 63, 81, 0.9)), url(images/sf_goldengate.jpg) no-repeat center center;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}
@media screen and (max-width: 800px) {
	.main-wrapper {
		padding-top: 90px;
		padding-bottom: 50px;
	}
}
.content {
	background-color: #e6e6e6;
	/*padding: 10%;*/
	margin-top: 40px;
}
.pages-wrapper {
	padding: 0 1em 0 1em;
}
.intro h2 {
	text-align: center;
}
.intro {
	max-width: 600px;
	margin: auto;
}
.intro-text {
	font-size: 24px;
}
.intro-links {
	line-height: 30px;
}
.intro-links p {
	margin: 8px 0;
}
.intro-links a {
	border-bottom: 2px solid;
}
.img_wrapper {
	/*background: url(../images/mac.png) no-repeat center center;*/
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	/*width: 100%;*/
	height: 320px;
	padding-left: 10%;
	padding: 30px 30px 2px 30px;
	transition-property: all;
	transition-duration: .5s;
}
.img_wrapper:hover {
/*	transition-property: all;
	transition-duration: .5s;
	padding: 30px 2px 2px 2px;*/
}
.img_inner {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height:100%;*/
	/*margin-top: 100px;*/
	/*width: 50%;*/
	height: 100%;
}
.projectDescription a {
	text-decoration: underline;
}
li.tile {
	/*position: relative;*/
	/*padding: 2%;*/
	width: 45%;
	/*height: 400px;*/
	/*border: 1px solid;*/
	/*margin: -3px;*/
	/*padding-bottom: 33.3%;*/
	margin-right: 40px;
	margin-bottom: 40px;
}	
@media screen and (max-width: 1100px) {
	li.tile {
		width: 45%;
		margin-right: 20px;
		margin-bottom: 20px;
		/*height: 250px;*/
		/*border: 1px solid;*/
		/*margin: -3px;*/
		/*padding-bottom: 50%;*/
	
	}
	.img_wrapper {
		height: 250px;
	}
}
@media screen and (max-width: 800px) {
	li.tile {
		width: 100%;
		margin-bottom: 40px;
		margin-right: 0px;
		/*height: 250px;*/
		/*border: 1px solid;*/
		/*margin: -3px;*/
		/*padding-bottom: 500px;*/
	}	
	.img_wrapper {
		height: 350px;
	}
	.projects {
		margin-right: 0px;
	}
}
@media screen and (max-width: 700px) {
	.img_wrapper {
		height: 300px;
	}
}
@media screen and (max-width: 600px) {
	.img_wrapper {
		height: 250px;
	}
}
.tiled {
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: #fff;
}
.tile-header {
	font-size: 22px;
	line-height: 22px;
	/*text-transform: uppercase;*/
	letter-spacing: 2.5px;
	margin-bottom: 10px;
	font-family: Montserrat;
}
.tile-header i {
	margin-left: 10px;
}
.tile-description {
	font-size:16px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 5px;
}
.tile-tags {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 7px;
}
.tile-tags li {
	font-size: 14px;
	border-radius: 3px;
	background-color: #e2e3e5;
	padding: 4px;
	line-height: 32px;
	margin-right: 3px;
	display: inline;
}
.tile-text {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0px 80px 0px 10px;
	position: relative;
}
.tile-text-right {
	position: absolute;
	right: 10px;
	text-align: center;
	top: 14px;
	color: #a1a4ac;

}
.tile-text-right p {
	margin-top: 0;
	margin-bottom: 8px;
}
.tile-text-right i {
	font-size: 36px;
}
.tile-text-right:hover {
	color: #394256;
};

.footer {
	/*background-color: #e6e6e6;*/
	max-width: 1000px;
	margin: auto;
	text-align: center;
	height: 60px;
}
.footer p {
	text-align: center;
	margin-bottom: 0;
	line-height: 100px;
	margin-top: 0;
}
.skill-div {
	min-height: 50px;
}
.skill {
	display: block;
	margin-bottom: 20px;
	color: white;
}
.skill-div {
	padding: 0 10px 0 10px;
}
.skill-left, .skill-right {
	line-height: 50px;
	display: inline-block;
}
.skill-right {
	float: right;
}
.hidden {
	/* This is the individual project description page */
	font-size: 18px;
	letter-spacing: 1.5px;
	font-weight: 300;
	/*max-height: 100px;*/
	margin-bottom: 20px;
	/*overflow: hidden;*/
}
.quick-links {
	text-align: center;
	margin: auto;
}
.quick-links * {
	display: inline-block;
}

.quick-links li {
	font-size: 36px;
	display: inline-block;
}
.quick-links a {
	color: #fff;
	margin: 10px;
}
.quick-links a:hover {
	color: #888;
	transition-property: all;
	transition-duration: .5s;
}
.quick-links a p {
	font-size: 18px;
	line-height: 36px;
}
.projectName {
	display: inline-block;
}
.projectName:hover {
  -webkit-box-shadow:inset 0px -2px 0px 0 #fff;
  -moz-box-shadow:inset 0px -2px 0px 0 #fff;
  box-shadow:inset 0px -2px 0px 0 #fff;
}
.projectName i {
	margin-left: 20px;
	font-size: 36px;
}
@media screen and (max-width: 640px) {
	.lastname {
		display: none;
	}
}